
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /cms-wordpress-course-l1/DusanPerisic/Aplikacija/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /cms-wordpress-course-l1/DusanPerisic/Aplikacija/index.php [L]
</IfModule>

# END WordPress
